<h2>Google Defaults</h2>
<GRecaptcha
  @onRender={{this.onCaptchaRendered}}
  @onSuccess={{this.onCaptchaResolved}}
/>
<br />
<button type='button' {{on 'click' this.forceReset}}>Force reset</button>
<br />
<LinkTo @route='index'>
  Back
</LinkTo>