<h2>Google Defaults</h2>
<GRecaptcha
  @onRender={{fn this.onCaptchaRendered (mut this.gRecaptcha)}}
  @onSuccess={{this.onCaptchaResolved}}
/>
<p><a href='' {{on 'click' this.forceReset}}>Force reset</a></p>