<h2>ember-g-recaptcha examples</h2>
<ul>
  <li><h4><LinkTo @route='google-defaults'>Google Defaults</LinkTo></h4></li>
  <li><h4><LinkTo @route='dark-theme'>Dark Theme</LinkTo></h4></li>
  <li><h4><LinkTo @route='compact-size'>Compact Size</LinkTo></h4></li>
  <li><h4><LinkTo @route='invisible-mode'>Invisible</LinkTo></h4></li>
</ul>