<h2>ember-g-recaptcha examples</h2>
<ul>
  <li><h4>{{#link-to 'google-defaults'}}Google Defaults{{/link-to}}</h4></li>
  <li><h4>{{#link-to 'dark-theme'}}Dark Theme{{/link-to}}</h4></li>
  <li><h4>{{#link-to 'audio-type'}}Audio Type{{/link-to}}</h4></li>
  <li><h4>{{#link-to 'compact-size'}}Compact Size{{/link-to}}</h4></li>
  <li><h4>{{#link-to 'invisible-mode'}}Invisible{{/link-to}}</h4></li>
</ul>
